<button mat-icon-button color="primary" aria-label="button add icon" (click)="setModal()">
  <mat-icon>add_shopping_cart</mat-icon>
  <span>Add new order</span>
</button>
<div class="cards">
  <mat-card class="card" *ngFor="let orderItem of orders; let idx=index">
    <mat-card-header>
      <mat-card-title>
        $ {{orderItem.totalPrice}}
      </mat-card-title>
      <mat-card-subtitle>
        By {{orderItem.customerName}} . {{orderItem.email}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="line"></div>
      <div class="items" *ngFor="let item of orderItem.items">
        <div class="item-wrapper">
          <div class="icon">
            <mat-icon>loyalty</mat-icon>
          </div>
          <div>
            <p class="category">{{item.category|uppercase}}</p>
            <p>{{item.name}} . &#36; {{item.price}}</p>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="warn" (click)="deleteHandler(idx)">DELETE</button>
      <button mat-button color="primary" (click)="editHandler(orderItem, idx, true)">EDIT</button>
    </mat-card-actions>
  </mat-card>
</div>
<app-create *ngIf="showModalCreate" [showModal]="showModalCreate" (closeModal)="closeModalCreate($event)"></app-create>
<app-edit *ngIf="showModal" [order]="order" [orderIdx]="orderIdx" [showModal]="showModal" (closeModal)="closeModal($event)"></app-edit>

